<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean id="userBasicDAO" class="edu.shily.qqzone.dao.impl.UserBasicDAOImpl"></bean>

    <bean id="topicDAO" class="edu.shily.qqzone.dao.impl.TopicDAOImpl"></bean>

    <!--这个bean标签的作用是，将来servletPath中涉及的名字对应的是fruit,那么就要FruitController来处理-->
    <bean id="userBasicService" class="edu.shily.qqzone.service.impl.UserBasicServiceImpl">
        <!--property标签用来表示属性    name:表示属性名  ref:表示引用其他bean的id值-->
        <property name="userBasicDAO" ref="userBasicDAO"></property>
    </bean>

    <bean id="topicService" class="edu.shily.qqzone.service.impl.TopicServiceImpl">
        <property name="topicDAO" ref="topicDAO"></property>
    </bean>

    <bean id="user" class="edu.shily.qqzone.controller.UseController">
        <property name="userBasicService" ref="userBasicService"></property>
        <property name="topicService" ref="topicService"></property>
    </bean>

    <bean id="page" class="edu.shily.qqzone.myssm.myspringmvc.PageController"></bean>
</beans>
